@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    --btncolor: #912437;
    background: #0E0E12;
}

* {
    background: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    background: #0E0E12;
    border-bottom: 1px solid rgb(30, 30, 35);

}

.logo {
    content: url("../images/logo_puc.svg");
    cursor: pointer;
    transition: all 0.9s ease 0s;
    background: #0E0E12;
    width: 60px;
    height: 60px;
}

.logo:hover {
    content: url("../images/logo_puc2.svg");
}


.navLinks {
    list-style: none;
    background: #0E0E12;
}

.navLinks li {
    display: inline-block;
    padding: 0 40px;
}

.navLinks li a {
    transition:  all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #912437
}

.navLinks li a::after {
    transition:  all 0.3s ease 0s;
    content: '';
    width: 0;
    height: 2px;
    background: #912437;
    display: block;
    margin: auto;
}

.navLinks li a:hover::after {
    width: 100%;
}

.navLink.active {
    color: #912437
}


.blue {
    --btncolor: #007BFF;
}

.red {
    --btncolor: #912437;
}

.btn {
    cursor: pointer;
    padding: 9px 25px;
    background-color: rgba(14, 14, 18, 1);
    border: 1px solid #1E1E23;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    margin: 5px 5px;
}


.btn.active {
    background-color: var(--btncolor);
}

.btn:hover {
    background-color: var(--btncolor);
}

.cta {
    border: none;
}

.landing-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 90px 10px;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

.landing-main h1 {
    font-size: 30px;
    margin: 15px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-main h2 {
    font-size: 23px;
    margin: 10px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-main p {
    margin: 25px;
}

.landing-bg {
    min-height: 100vh;
    width: 100%;
    background: #0E0E12;
    background-size: cover;
    position: absolute;
}

.landing-intro {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.landing-intro h1 {
    font-size: 60px;
}

.landing-intro p {
    margin: 10px 5px 40px;
    font-size: 14px;
    color: #fff;
}

.p-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px  34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
}

.p-btn:hover {
    border: 1px solid var(--btncolor);
    background: var(--btncolor);
    transition: 1s;
}

.landing-area {
    margin: 0;
    color: white;
    width: 1200px;
    height: 400px;
}

/*-----Home page-----*/
.banner {
    min-height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/rosa.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0e0e12, transparent);
    z-index: 255;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.text-box h1{
    font-size: 40px;
    margin: 15px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px #999;
}

.text-box p{
    margin: 10px 0 40px;
}

/*-----Paginas-----*/



.paginas{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.paginas h1{
    font-size: 30px;
    font-weight: 600;
    color:rgb(255, 248, 248)
}

.paginas p{
    font-size: 15px;
    line-height: 28px;
    font-weight: 100;
    padding: 8px;
    color: rgb(136, 136, 136)
}

/*-----Preview paginas-----*/
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.pagina-col{
    flex-basis: 31%;
    background: #121214;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s
}

.pagina-col h2{
    text-align: center;
    margin: 10px 0;
    color: #fff
}

.pagina-col:hover{
    box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.2);
    background-color: #070707;
    color: black;
    transform: translateY(-13px)
}

/*----footer----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: rgb(19, 19, 19);
    border-top: 1px solid rgb(43, 43, 43);
}

.footer h5{
    margin-bottom: 20px;
    margin-top: 15px;
    color: rgb(136, 136, 136)
}

.footer p{
    color: rgb(136, 136, 136);
    font-size: 10px;
    margin-bottom: 15px;
}
.landing-main{
    margin-left: 10%;
    margin-right: 10%;
}
