@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --boxColor: rgba(0, 0, 0, 0.8);
    --textColor: #fff;
    --bgColor: #fff;
    --btnIcon: url("../images/github_black.png");
}

body {
    background: #0E0E12;
}


.black {
    --boxColor: rgba(0, 0, 0, 0.8);
    --textColor: #111;
}

.white {
    --boxColor: rgba(255, 255, 255, 0.6);
    --textColor: #fff;
}

.red {
    --textColor: #912437;
}

.black-bg {
    --bgColor: #111;
}

.white-bg {
    --bgColor: #fff;
}

.github.dark::after {
    --btnIcon: url("../images/github_black.png");
    content: '';
    position: absolute;
    background: var(--btnIcon) no-repeat left;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
}

.github.light::after {
    --btnIcon: url("../images/github_white.png");
    content: '';
    position: absolute;
    background: var(--btnIcon) no-repeat left;
    top: 0;
    bottom: 0;
    right: 0;
    left: 5px;
}

.github.hover-dark:hover::after {
    --btnIcon: url("../images/github_black.png");
}

.github.hover-light:hover::after {
    --btnIcon: url("../images/github_white.png");
}


.loader {
    pointer-events: none;
}

.hide-screen {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
    pointer-events: none;
}

.hide-screen.active {
    opacity: 1;
}

.loading {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px transparent;
    border-top: 16px solid #0E0E12;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 1;
    pointer-events: none;
}

.loading.active {
    opacity: 1;
    animation: spin 1.3s linear infinite;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 30px 100px;
}

header .logo {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    margin-left: 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

.landing-info {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-info h1 {
    font-size: 60px;
}

.landing-info p {
    color: #fff;
    margin: 10px 0 40px;
    font-size: 14px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
}

.banner .imgBox img.active {
    opacity: 1;
}

.subContent {
    opacity: 0;
}

.subContent.active {
    opacity: 1;
}

.indicator {
    position: fixed;
    top: 42%;
    transform: translateY(-42%);
    right: 10vh;
    width: 30vh;
}

.indicator.active{
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 80px;
}

.controls li {
    position: relative;
    width: 80px;
    height: 80px;
    background: transparent;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls li:hover {
    background: rgba(60, 60, 60, 0.5);
}

.arrow::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    box-shadow: red;
    margin-right: 10px;
}

.arrow.right::before {
    transform: rotate(225deg);
}

.arrow.left::before {
    transform: rotate(45deg);
    margin-left: 25px;
}

.contentBox {
    position: absolute;
    bottom: 0;
    max-width: 700px;
    transition: 0.5s;
}

.contentBox div {
    display: none;
}

.contentBox div.active {
    display: block;
    padding: 30px 30px 30px 100px;
    background: var(--boxColor);
}

.contentBox div h2 {
    color: var(--textColor);
    font-size: 2em;
}

.contentBox div p {
    color: var(--textColor);
    font-size: 1.1em;
}

.contentBox div a {
    position: relative;
    color: var(--textColor);
    font-size: 1.1em;
    display: inline-block;
    padding: 10px 30px;
    background: var(--bgColor);
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid var(--bgColor);
}


.contentBox div a:hover {
    background: transparent;
    border: 1px solid var(--bgColor);
    color: var(--bgColor);
}

.contentBox div a.textBg:hover {
    border: 1px solid var(--textColor);
    color: var(--textColor);
}

.contentBox div a.github {
    padding-left: 50px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}