
<img class="logo" id="homeLogo" alt="logo" width="60" height="60">
<nav>
  <ul class="navLinks">
    <li><a class="navLink" href="https://vmsou.github.io/pages/imagem.html">Imagens</a></li>
    <li><a class="navLink" href="https://vmsou.github.io/pages/videos.html">Videos</a></li>
    <li><a class="navLink" href="https://vmsou.github.io/pages/login.html">Inputs</a></li>
    <li><a class="navLink" href="https://vmsou.github.io/pages/about.html">Sobre</a></li>
  </ul>
</nav>
<a class="cta" href="https://vmsou.github.io/pages/login.html"><button>Login</button></a>





