<img class="logo" id="homeLogo" alt="logo" width="60" height="60">
<nav>
  <ul class="navLinks">
    <li><a class="navLink" href="/js-project/pages/imagem.html">Imagens</a></li>
    <li><a class="navLink" href="/js-project/pages/videos.html">Videos</a></li>
    <li><a class="navLink" href="/js-project/pages/sign.html">Inputs</a></li>
    <li><a class="navLink" href="/js-project/pages/steganography.html">Esteganografia</a></li>
    <li><a class="navLink" href="/js-project/pages/about.html">Sobre</a></li>
  </ul>
</nav>
<a class="cta" href="/js-project/pages/login.html"><button>Login</button></a>